#pip install -r requirements.txt
pandas=1.4
scikit-learn
numpy
matplotlib
datetime
finance-datareader
tensorflow<2.11
tensorflow_probability
keras
bs4
ipykernel
numba
pydot
yfinance
statsmodels
tables
seaborn
alphalens